#all {
    background: url("") center center / cover no-repeat;
    box-sizing: border-box;

    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #4a4b51 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}

*::-webkit-scrollbar-thumb {
    background-color: #4a4b51;
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

.disable-select {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */

    -webkit-touch-callout: none;
    /* iOS Safari */
}

*[tooltip]:hover::after {
    content: attr(tooltip);
    position: fixed;
    left: 50px;
    color: white;
    /*background-color: rgba(0, 0, 0, 0.699);*/
    background: linear-gradient(90deg, #000000 0%, #00000000 100%);
    border-radius: 2px;
}

input {
    outline: none;
}

.window {
    opacity: 1;
    background: transparent;
    padding: 12px;
}

.windowInline {
    cursor: auto;
    padding: 0px;
    box-shadow: 0px 0px 30px #00000024;
    position: relative;
}

/*border radius variable*/
:root {
    --border-radius: 5px;
}

.content {
    overflow: auto;
    background-color: white;

    position: absolute;
    width: 100%;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.title-bar {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    /*background: white;*/
    background: linear-gradient(90deg, #ffffff 0%, #f2f2f2 100%);
    cursor: move;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 3px 3px;

    text-overflow: ellipsis;
    overflow: hidden;
}

.title-bar-text {
    white-space: nowrap;
    font-weight: unset;
    color: black;
    letter-spacing: 0;
    margin-right: 24px;

    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 11px;
}

.title-bar-left {
    overflow: hidden;
}

.title-bar-text span {
    font-size: 20px;
}

.title-bar-controls {
    display: flex;
}

.title-bar-controls button {
    background-color: transparent;
    color: black;
    padding: 0;
    display: block;
    min-width: 16px;
    min-height: 14px;
    border: 0px;
    margin: 0px;
    border-radius: 3px;
}

.title-bar-controls button:active {
    padding: 0;
}

.title-bar-controls button:focus {
    outline: none;
}

.title-bar-controls button[aria-label="Minimize"] {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cellipse stroke-width='0' stroke-dasharray='2,2' ry='8.18006' rx='8' id='svg_4' cy='15' cx='15.09363' stroke='%23000' fill='%23ffff00'/%3E%3Cline transform='rotate(-45 15 19.2135)' stroke='%23000' x1='12.48281' stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_2' y2='21.73066' x2='17.51718' y1='16.6963' fill='none'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px;
    width: 30px;
    height: 30px;
}

.title-bar-controls button[aria-label="Maximize"] {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cellipse stroke-width='0' stroke-dasharray='2,2' ry='8.18006' rx='8' id='svg_4' cy='15' cx='15' stroke='%23000' fill='%2300ff00'/%3E%3Crect stroke='%23000' stroke-width='0.5' id='svg_6' height='6.5828' width='8.92481' y='11.7086' x='10.5376' fill='none'/%3E%3Crect id='svg_7' height='0' width='0.14055' y='8.56992' x='54.70484' stroke-width='0' stroke='%23000' fill='none'/%3E%3Cline id='svg_8' y2='12.1468' x2='19.25495' y1='12.1468' x1='10.74505' stroke-width='0.5' stroke='%23000' fill='none'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top 0px left 0px;
    width: 30px;
    height: 30px;
}

.title-bar-controls button[aria-label="Close"] {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cellipse stroke-width='0' stroke-dasharray='2,2' ry='8.18006' rx='8' id='svg_4' cy='15' cx='15' stroke='%23000' fill='%23ff0000' /%3E%3Cline x1='10' stroke='%23000' stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_2' y2='20' x2='20' y1='10' fill='none' /%3E%3Cline transform='rotate(90 15 15)' stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_3' y2='20' x2='20' y1='10' x1='10' stroke='%23000' fill='none' /%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top 0px left 0px;
    width: 30px;
    height: 30px;
}

#moveWindowOverlay {
    z-index: 5000;
    background-color: rgba(66, 66, 66, 0.486);
    width: 100px;
    height: 100px;
    position: fixed;
    pointer-events: none;
    display: none;
}


#taskbar {
    background: rgb(29 29 29 / 67%);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    -moz-backdrop-filter: blur(11px);
    bottom: 0;
    color: #000;
    display: flex;
    flex: 1;
    left: 0;
    padding: 0px;
    margin: 19px;
    position: fixed;
    right: 0;
    z-index: 5000;
    height: 55px;
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #ffffff54;
}

#taskbar-programList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#taskbar-programList p {
    color: white;
    transition: 0.1s;
    width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#taskbar-programList .programListElement {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    max-width: 11vw;
    width: fit-content;

    color: white;
    margin-right: 7px;
    background-color: transparent;
    border-bottom: #5bb7ffb8 2px solid;
    cursor: default;
    transition: 0.2s;
}

#taskbar-programList .programListElement img {
    width: 35px;
    height: 35px;
    max-width: 100%;
}

#taskbar-programList .programListElement:hover:not(.selected) {
    background-color: #3a3a3a70;
    /*border-bottom-width: 3px;*/
    padding-left: 3px !important;
    margin-left: -3px !important;
    padding-right: 3px !important;
    margin-right: calc(-3px + 7px) !important;
}

#taskbar-programList .programListElement.selected:hover {
    background-color: #3a3a3a70;
    padding-left: 4px !important;
    margin-left: -4px !important;
    padding-right: 4px !important;
    margin-right: calc(-4px + 7px) !important;
}


#taskbar-programList .programListElement.selected {
    background-color: #58585870;

    padding-left: 2px;
    margin-left: -2px;
    padding-right: 2px;
    margin-right: calc(-2px + 7px);
}

#taskbar-programList .programListElement.selected:hover {
    background-color: #69696970;
}

#taskbar-programList .programListElement.hidden {
    border-bottom-color: #4386b9b8;
    background-color: #22222270;
}

#taskbar-programList .programListElement.hidden:hover {
    background-color: #2c2c2c70;
}

#taskbar-programList .programListElement.hidden img {
    filter: brightness(0.5);
}

#taskbar-programList .programListElement.hidden p {
    color: #7e7e7e;
}

p {
    margin: 0px;
}

#StartMenu {
    background: #1d1d1dbd;
    /* box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff; */
    display: inline-block;
    display: flex;
    height: 400px;
    opacity: 0;
    left: 19px;
    list-style: none;
    margin: 0;
    padding: 15px;
    position: absolute;
    bottom: 82px;
    overflow: hidden;
    vertical-align: top;
    transition: 400ms;
    border-radius: 10px;

    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    -moz-backdrop-filter: blur(11px);
}

#StartMenuPrograms {
    height: 400px;
    max-height: 70vh;
    max-width: 50vw;
    overflow: auto;
    width: 400px;
}

#StartMenuPrograms p {
    font-size: 20px;
    line-height: 40px;

    background: linear-gradient(90deg, #5a5c5e59 0%, #5a5c5e59 100%);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

    transition: 0.1s;
}

#StartMenuPrograms p:hover {
    /*background: #585858b6;*/
    /**/
    background: linear-gradient(90deg, rgba(38, 51, 231, 0.500) 0%, rgba(38, 144, 231, 0.500) 100%);
}

#StartMenuPrograms hr {
    margin: 10px;
    border: 0px;
    border-top: 0px solid #3a3a3a;
}

.StartMenuSelector {
    cursor: pointer;
    color: white;
}

div {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

button {
    /* align-items: center; */
    display: flex;
    /* flex-direction: row; */
    line-height: 21px;

    padding-right: 5px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;

    margin: 1px;

    cursor: pointer;
    background: rgb(247, 247, 247);
    border: white;
    color: black;
    /* box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;*/
}

button:hover {
    background-color: rgb(174, 202, 255);
}

button[aria-label="Close"]:hover {
    background-color: rgb(255, 112, 112);
}

p,
span,
code,
button,
input,
lable,
label,
select,
textarea {
    font-size: 15px;
}

* {
    -webkit-font-smoothing: subpixel-antialiased;
    /*font-size: 25px;*/
    font-weight: unset;
    font-family: Arial, Helvetica, sans-serif;
    zoom: 1.00;
}

#startMenuButton:hover {
    background: rgba(255, 255, 255, 0.219);
}

#startMenuButton {
    transition: 0.2s;
    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    background: transparent;
    margin-right: 5px;

    border-radius: 10px;

    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#startMenuButton span:hover {
    background: rgba(255, 255, 255, 0.219);
    height: 33px;
    width: 33px;
}

#startMenuButton span {
    /*transition: 0.2s;*/
    font-size: 60px;
    color: white;
    height: 35px;
    width: 35px;

}

.consoleOutput {
    background: rgb(5, 10, 51);
    color: white;
    height: 465px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column-reverse;
}

.consoleInput {
    background: rgb(5, 10, 51);
    color: white;
    border: 0px;
}

.consoleLog {
    color: white;
}

.consoleInformation {
    color: gray;
}

.consoleWarn {
    color: rgb(222, 167, 0);
}

.consoleError {
    color: rgb(255, 0, 0);
}

.contextmenu {
    z-index: 99999999;
    position: absolute;
    background-color: rgb(74 75 81);
    box-shadow: rgb(0 0 0) 0px 0px 20px -5px;
    border: 1px solid #222f41;
    border-radius: 5px
}

.contextmenubutton {
    color: white;
    background-color: transparent;
    width: 100%;
    border-radius: 10px;
    font-size: 17px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.contextmenubutton:hover {
    /*background-color: rgba(36, 175, 255, 0.774);*/
    background: linear-gradient(90deg, rgba(36, 175, 255, 0.774) 0%, rgba(0, 255, 255, 0.774) 100%);
}

.StartMenuFastButton {
    justify-content: center;
    padding: 10px;
    background-color: #51718a4d;
    color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px #00000038;
}

.StartMenuFastButton:hover {
    background-color: #51718a;
}

iframe {
    display: block;
}

/*Desktop*/
.DesktopIcon {
    position: fixed;
}

.DesktopIcon:hover {
    background-color: rgba(134, 172, 255, 0.233);
}

.DesktopIconText {
    color: white;
    background-color: #0000006e;
    text-align: center;

    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.DesktopImg {
    /*background-color: #ffffffba;*/
    user-drag: none;
    -webkit-user-drag: none;

    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

#resizeAnimator {
    width: 50px;
    height: 50px;
    background-color: #4d4d4dce;
    margin-right: -25px;
    margin-left: -25px;
    margin-top: -25px;
    margin-bottom: -25px;
    transition: 0.2s;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    translate: 0px 0px;

    touch-action: none;
}

#resizeAnimator.animate {
    width: 10px;
    height: 10px;
    margin: -5px;
    transition: 0.5s;
    background-color: rgba(77, 77, 77, 0);
}

/*move 50px in direction*/
#resizeAnimator.own_right.animate {
    margin-left: 500px;
}

#resizeAnimator.own_left.animate {
    margin-left: -500px;
}

#resizeAnimator.own_top.animate {
    margin-top: -500px;
}

#resizeAnimator.own_bottom.animate {
    margin-top: 500px;
}


#smallNotificationsPopupList {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 55px;
    margin-right: 10px;
    z-index: 9999;
}

.notificationPopup {
    background-color: #4d4d4dce;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px #00000038;
    transition: 0.2s;
    min-width: 200px;
    max-width: 375px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.notificationPopupTitleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.notificationPopupTitleBarIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.2s;
    border: 0;
}

/*content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm1,15H11V14h2Zm0-4H11V7h2Z' /%3E%3C/svg%3E");*/
/*set this, if the src is empty*/
.notificationPopupTitleBarIcon::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm1,15H11V14h2Zm0-4H11V7h2Z' /%3E%3C/svg%3E");
}

.notificationPopupTitleBarButtonsHC{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border: 0;
}

.notificationPopupTitleBarButtonsCloseButton {
    width: 20px;
    height: 20px;
    margin-right: 0px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.2s;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /%3E%3C/svg%3E");
    cursor: pointer;
    border-radius: 30px;
}

.notificationPopupTitleBarButtonsCloseButton:hover {
    background-color: #ff00004d;
}

.notificationPopupTitleBarButtonsHideButton {
    width: 20px;
    height: 20px;
    margin-right: 0px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 30px;
    /*minimize button url svg*/
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19,13H5V11H19Z' /%3E%3C/svg%3E");
}

.notificationPopupTitleBarButtonsHideButton:hover {
    background-color: rgb(77, 77, 77);
}


.notificationPopupTitle {
    font-weight: bold;
}

.notificationPopupText {
    margin-bottom: 5px;
    margin-top: 5px;

    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

.notificationPopupButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.notificationPopupButton {
    background-color: #51718a4d;
    color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0px 0px 6px 0px #00000038;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.2s;
}

.notificationPopupButton:hover {
    background-color: #51718a;
}

#minimizeAllWindows {
    border-left: none !important;
}

#smallNotificationsButton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 -960 960 960' width='48'%3E%3Cpath style='fill: white' d='M160-200v-60h80v-304q0-84 49.5-150.5T420-798v-22q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v22q81 17 130.5 83.5T720-564v304h80v60H160Zm320-302Zm0 422q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM300-260h360v-304q0-75-52.5-127.5T480-744q-75 0-127.5 52.5T300-564v304Z'/%3E%3C/svg%3E");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    width: 40px;
    height: 100%;
    display: flex;
    position: absolute;
    right: 36px;
    border-left: 1px solid #ffffff45;
    border-right: 1px solid #ffffff45;
    cursor: pointer;
}

#smallNotificationsButton:hover {
    background-color: #ffffff45;
}

#smallNotifications {
    display: none;
    position: fixed;
    right: 0;
    margin: 5px;
    bottom: 55px;
    min-width: 300px;
    width: 30%;
    max-width: 500px;
    height: 200px;
    background-color: #4d4d4dce;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000038;
    transition: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#smallNotifications.open {
    display: block;
}

#smallNotificationsNotificationsContainer {
    padding: 5px;
}

.smallNotificationsNotification {
    background-color: #4d4d4dce;
    /* color: white; */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#smallNotificationsTitleBar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#smallNotificationsTitleBarTitle {
    font-weight: bold;
}

#smallNotificationsTitleBarButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#smallNotificationsTitleBarButtonsCloseButton {
    width: 20px;
    height: 20px;
    margin-right: 0px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.2s;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M19,13H5V11H19Z' /%3E%3C/svg%3E");
    cursor: pointer;
    border-radius: 30px;
}