.window[windowid="{{windowId}}"] #store {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window[windowid="{{windowId}}"] #search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window[windowid="{{windowId}}"] #searchInput {
    width: 50%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.window[windowid="{{windowId}}"] #featured {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window[windowid="{{windowId}}"] #featuredProjects {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.window[windowid="{{windowId}}"] .project {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.window[windowid="{{windowId}}"] .project:hover {
    background-color: #424242;
}

.window[windowid="{{windowId}}"] .projectImage {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window[windowid="{{windowId}}"] .projectImage img {
    max-width: 100%;
    max-height: 100%;
}

.window[windowid="{{windowId}}"] .projectInfo {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.window[windowid="{{windowId}}"] .projectTitle {
    width: 100%;
    height: 6px;
    text-align: center;
}

.window[windowid="{{windowId}}"] .projectDescription {
    width: 100%;
    height: 40px;
    text-align: center;
}

.window[windowid="{{windowId}}"] .projectAuthor {
    width: 100%;
    height: 20px;
    text-align: center;
}

.window[windowid="{{windowId}}"] #latest {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window[windowid="{{windowId}}"] #latestProjects {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.window[windowid="{{windowId}}"] #topBar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
    flex-wrap: wrap;
}

.window[windowid="{{windowId}}"] #tabs {
    display: flex;
}


.window[windowid="{{windowId}}"] .progress-bar {
    position: relative;
    width: 300px;
    height: 300px;
}

.window[windowid="{{windowId}}"] .circle {
    height: 100%;
    right: 0px;
    position: absolute;
    border: solid 5px #a9a9a9;
    border-top-color: #a9d161;
    border-radius: 50%;
}

.window[windowid="{{windowId}}"] .border {
    width: 100%;
    transform: rotate(135deg);
    animation: spin 1.3s steps(2) .2s infinite;
    -webkit-animation: spin 1.3s linear infinite;

}

.window[windowid="{{windowId}}"] .projectImageOverlay {
    width: 150px;
    position: absolute;
    bottom: 0px;
    top: 0px;
    box-shadow: inset -0px -0px 10px 20px white;
}

.window[windowid="{{windowId}}"] #list {
    width: calc(100% - 50px);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.window[windowid="{{windowId}}"] #ListTabContent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.window[windowid="{{windowId}}"] #SearchTabContent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.window[windowid="{{windowId}}"] #search {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.window[windowid="{{windowId}}"] #fastSearchOut {
    position: absolute;
    top: 100px;
    right: 0;
    height: 425px;
    width: 442px;
    display: flex;
    justify-content: flex-start;
    z-index: 99;
    align-items: flex-start;
    padding: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    background: #424242;
}

/* tab button */
.window[windowid="{{windowId}}"] .selected {
    background-color: #bebebe;

    display: block !important;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}