#editing,
#highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  margin: 5px;
  padding: 10px;
  border: 0;
  width: calc(100% - 30px);
}

#highlighting {
  -webkit-text-size-adjust: none;
}

#editing,
#highlighting,
#highlighting * {
  /* Also add text styles to highlighting tokens */
  font-size: 15px;
  font-family: monospace;
  line-height: 17px;
}

#highlighting code::after {
  content: "\A*invisible* *magic*\A";
  word-wrap: break-word;
  white-space: pre-wrap;
  color: transparent;
  width: 0;
  height: 0;
}


#editing,
#highlighting {
  position: absolute;
  height: calc(100% - 90px);
}

/* Move the textarea in front of the result */
#editing {
  z-index: 1;
}

#highlighting {
  z-index: 0;
}

/* Make textarea almost completely transparent */
#editing {
  color: transparent;
  background: transparent;
  caret-color: white;
  /* Or choose your favorite color */
}

/* Can be scrolled */
#highlighting {
  /*overflow: auto;*/
  white-space: pre-wrap;
  /* Allows textarea to scroll horizontally */
}

#editing {
  white-space: pre;
  overflow: auto;
}